/* position is aligned against the bottom, background color yellow, everything is centered */
/* #footerbox {
    background-color: #FFF552;
    position: absolute;
    width: "100%";
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    margin: 0;
}; */

/* Yellow button, black border, rounded edges, slight padding, black text */
#shopperbutton {
    background-color: #FFF552;
    border: 0px solid #282C33;
    width: 200px;
    border-radius: 3px;
    padding: 10px;
    color: black;
    border-width: 4px;
    margin: auto;
};

/* bold text */
.bold {
    font-weight: bold;
};

/* bold text left aligned */
.boldLeft {
    font-weight: bold;
    text-align: left;
};

/* The rows of pages relative positioning, left aligned text, offset to be centered, float left */
.pagesRow {
    position: relative;
    float: left;
    right: 16vh; /*needs adjustment*/
    text-align: left;
};

/* The box containing the pages, display is flexed, items are centered, no padding or margins */
#pagesBox {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
    margin: 0px;
};

/* pages in the bottom left corner, realtive positioning, left float, padding on the left */
#leftPages {
    position: relative;
    float: left;
    padding-left: 60;
};

/* position is relative, left foat, padding on left and top only */
.footerLogo {
    position: relative;
    float: left;
    padding: 0;
    padding-left: 60;
    padding-top: 10;
};

#employment {
         position: relative;
         margin: auto;
         right: 70;
    };