.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    margin: auto;
}

.btn {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(212, 212, 212);
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
}

.page_text {
    grid-column: 2;
    width: fit-content;
    justify-self: center;
}

.page_change {
    display: grid;
    grid-template-columns: 18px 100px 18px;
    margin-top: 70px;
    justify-content: center;
}