@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.App {
  text-align: center;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}