<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<form action="/auth/reset_password" method = "post">
			<label for="New Password">New Password</label><br>
			<input type="text" id="new_password" name="new_password"><br>
			<label for="Confirm Password">Confirm Password</label><br>
			<input type="text" id="Confirm_Password" name="Confirm_Password">
			<input type="text" id="token" name="token" value=<%= token %> readonly>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
