/*******************     CONTAINER CSS    **********************/

.container {
  display: flex;
  padding: 0rem 0rem;
  /* background-color: white; */
  border-radius: 5px;
  width: 100%;
  margin: 2em auto;
}

.smallcontainer {
  width: 75%;
  margin: auto;
}

.formbox {
  box-shadow: rgb(136, 136, 136) 2px 1px 20px;
  width: 50%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
}

.header {
  margin: 10px auto;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  /* padding: 5px; */
  /* width: 50%; */
  /* background-color: aqua; */
}

.slogan {
  font-family: Verdana;
  padding: 5px;
  margin: 10px auto;
}

.login,
.link {
  font-family: Verdana;
}

.link:hover {
  text-decoration: underline;
}

/*****************   FORM CSS   *********************/
.button {
  width: 100%;
  background-color: rgb(251, 222, 73);
  padding: 8px 20px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 232, 118);
}
.textfield {
  width: 100%;
  border-color: rgb(251, 222, 73);
  margin: 5px;
}

/****************** Mobile Optimization ******************************/

@media all and (max-width: 500px) {
  .smallcontainer {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .formbox {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
  }
}
