* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* padding:2px; */
/* margin: 5px; */
}

p {
font-size: 12px;
margin: 5px;
text-align: left;
/* color: #4b4b4b; */ 
}


input[type=submit] {
width: 50%;
background-color: white;
color: black;
padding: 4px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}