.stores_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}

.background {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.zipcode_container {
  padding: 20px 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  max-width: 100%;
  margin: 0 auto;
  color: white;
}

.recommend_container {
  padding: 10px 24px;
  font-weight: 500;
  font-size: 15px;
  color: #8e8e8e;
  background-color: #f7f7f7;
  text-align: left;
  max-width: 100%;
  margin: 0 auto;
}

.filter_container {
  max-width: 100%;
  margin: 0 auto;
}

.logo_container {
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}
