.BackArrowButton {
    touch-action: manipulation;
    cursor: pointer;
    background-origin: 1px solid transparent;
    font-weight: 600;
    white-space: nowrap;
    display: block;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    size: 14px;
    height: 32px;
    background-color: transparent;
    color: #fed330;
    width: auto;
    position: relative;
    font-family: inherit;
    margin: 8px 0px 0px;
    border: none;
}

.BackArrowSVG {
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: text-bottom;
}