.container {
  height: 100vh;
  width: 100vw;
}

.main_video {
  width: 100%;
  height: 100%;
}

.video_container {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.btn_container {
  height: 100%;
  width: 3.5em;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #e5e5e5;
  height: 2.75em;
  margin-bottom: 1px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #d6d6d6;
}

.btn_disabled {
  background-color: #a0a0a0;
  height: 2.75em;
  margin-bottom: 1px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn_exit {
  background-color: #d12500;
  height: 2.75em;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn_exit:hover {
  background-color: #b82200;
}

.videos {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: #e5e5e5 solid 1px;
}

.video {
  width: 20em;
  height: auto;
}

.videoroom_sticky {
  position: fixed;
  top: 5em;
  right: 0;
  z-index: 100;
}
