.background_image {
    padding-top: 20px;
    background-image: url("../../images/hero8.png");
    background-size: cover;
    background-attachment: fixed;
}

.full_width {
    width: 100%;
}

.background_white {
    background-color: #f5f5f5;
}